/* MainCabinaButton.scss - Versión Mobile First */

.cabina-button-container {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    z-index: 1000;
    
    .cabina-button {
      background: transparent;
      border: none;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      box-shadow: 0 2px 8px rgb(0, 247, 255);
      transition: all 0.3s ease;
      
      &:active, &:focus {
        outline: none;
        transform: scale(1.1);
        box-shadow: 0 4px 12px rgb(0, 255, 157);
      }
  
      i {
        color: rgb(0, 255, 234);
        font-size: 1.0rem;
      }
    }
  }
  
  /* Tablet (768px+) */
  @media (min-width: 768px) {
    .cabina-button-container {
      bottom: 1.5rem;
      left: 1.5rem;
      
      .cabina-button {
        width: 2.5rem;
        height: 2.5rem;
        
        &:hover {
          transform: scale(1.1);
          box-shadow: 0 4px 12px rgba(0, 255, 242, 0.637);
        }
  
        i {
          font-size: 1.0rem;
        }
      }
    }
  }
  
  /* Desktop (1024px+) */
  @media (min-width: 1024px) {
    .cabina-button-container {
      .cabina-button {
        width: 2.5rem;
        height: 2.5rem;
  
        i {
          font-size: 1.0rem;
        }
      }
    }
  }